<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 命名空间 -->
    <typeAliases>
        <typeAlias alias="CommonBean" type="com.skysport.core.bean.system.SelectItem2"/>
        <typeAlias alias="SpInfo" type="com.skysport.inerfaces.bean.system.SpInfo"/>
        <typeAlias alias="Dictionary" type="com.skysport.core.bean.system.DictionaryInfo"/>
        <typeAlias alias="PantoneInfo" type="com.skysport.inerfaces.bean.system.PantoneInfo"/>
        <typeAlias alias="CustomerInfo" type="com.skysport.inerfaces.bean.system.CustomerInfo"/>
        <typeAlias alias="AreaInfo" type="com.skysport.inerfaces.bean.system.AreaInfo"/>
        <typeAlias alias="SeriesInfo" type="com.skysport.inerfaces.bean.system.SeriesInfo"/>
        <typeAlias alias="FactoryInfo" type="com.skysport.inerfaces.bean.system.FactoryInfo"/>
        <typeAlias alias="MaterialClassicInfo" type="com.skysport.inerfaces.bean.system.MaterialClassicInfo"/>
        <typeAlias alias="MaterialTypeInfo" type="com.skysport.inerfaces.bean.system.MaterialTypeInfo"/>
        <typeAlias alias="ProductTypeInfo" type="com.skysport.inerfaces.bean.system.ProductTypeInfo"/>
        <typeAlias alias="SexInfo" type="com.skysport.inerfaces.bean.system.SexInfo"/>
        <typeAlias alias="YearConfInfo" type="com.skysport.inerfaces.bean.system.YearConfInfo"/>
        <typeAlias alias="DyeInfo" type="com.skysport.inerfaces.bean.material.DyeInfo"/>
        <!--物料-->
        <typeAlias alias="BondingLaminationCoatingInfo" type="com.skysport.inerfaces.bean.material.BondingLaminationCoatingInfo"/>
        <typeAlias alias="ColorOfMembraneCoatingInfo" type="com.skysport.inerfaces.bean.material.ColorOfMembraneCoatingInfo"/>
        <typeAlias alias="FinishInfo" type="com.skysport.inerfaces.bean.material.FinishInfo"/>
        <typeAlias alias="MaterialOfMembraneCoatingInfo" type="com.skysport.inerfaces.bean.material.MaterialOfMembraneCoatingInfo"/>
        <typeAlias alias="MembraneThicknessInfo" type="com.skysport.inerfaces.bean.material.MembraneThicknessInfo"/>
        <typeAlias alias="SpecificationInfo" type="com.skysport.inerfaces.bean.material.SpecificationInfo"/>
        <typeAlias alias="WaterVapourPermeabilityInfo" type="com.skysport.inerfaces.bean.material.WaterVapourPermeabilityInfo"/>
        <typeAlias alias="WorkmanshipOfBondingLaminatingCoatingInfo" type="com.skysport.inerfaces.bean.material.WorkmanshipOfBondingLaminatingCoatingInfo"/>
        <typeAlias alias="FabricsInfo" type="com.skysport.inerfaces.bean.FabricsInfo"/>
        <typeAlias alias="CategoryInfo" type="com.skysport.inerfaces.bean.system.CategoryInfo"/>
        <typeAlias alias="MaterialPositionInfo" type="com.skysport.inerfaces.bean.system.MaterialPositionInfo"/>
        <typeAlias alias="MaterialUnitInfo" type="com.skysport.inerfaces.bean.system.MaterialUnitInfo"/>
        <!--DEVELOP 开发-->
        <typeAlias alias="BomInfo" type="com.skysport.inerfaces.bean.BomInfo"/>
        <typeAlias alias="ProjectBomInfo" type="com.skysport.inerfaces.bean.ProjectBomInfo"/>
        <typeAlias alias="ProjectInfo" type="com.skysport.inerfaces.bean.ProjectInfo"/>
        <typeAlias alias="ProjectQueryForm" type="com.skysport.inerfaces.form.develop.ProjectQueryForm"/>
        <typeAlias alias="BomQueryForm" type="com.skysport.inerfaces.form.develop.BomQueryForm"/>
        <typeAlias alias="ProjectCategoryInfo" type="com.skysport.inerfaces.bean.ProjectCategoryInfo"/>
        <typeAlias alias="MainColor" type="com.skysport.inerfaces.bean.system.MainColor"/>
        <typeAlias alias="FabricInfo" type="com.skysport.inerfaces.bean.FabricsInfo"/>


        <!--权限管理-->
        <typeAlias alias="UserInfo" type="com.skysport.inerfaces.bean.system.permission.UserInfo"/>

    </typeAliases>

    <!-- 映射map-->
    <mappers>
    </mappers>
</configuration>